<html>
    <body>
        <form action="/upload-file/<%= path %>" method="post" enctype="multipart/form-data">
            <label for="userFile">Upload File:</label>
            <input type="file" name="userFile" id="userFile" />

            <button type="submit">Upload</button>
        </form>
    </body>
</html>