<html>
    <body>
        <% if (locals.name) {%>
            <h1>Hello, <%= name %>!</h1>
        <% } else { %>
            <h1>Hello, World!</h1>
        <% } %>

        <% if (locals.files) {%>

            <ul>

                <% files.forEach((file) => { %>
                    <li>
                        <% if (!file.isFile) { %>
                            <button onclick="location.href='/folder/path/<%= file.name %>';"><%= file.name %></button>
                        <% } else { %>
                            <button><%= file.name %></button>
                        <% } %>
                    </li>
                <% }); %>

            </ul>
        <% } %>
            
        <button onclick="location.href='/upload-file';">Upload File</button>

        <button onclick="location.href='/folder/create/';">Add Folder</button>

        <button onclick="location.href='/log-in/log-out';">Log Out</button>
    </body>
</html>