<html>
    <body>
        <form action="/folder/rename/<%= path %>" method="post">
            <label for="folder">New Folder Name:</label>
            <input type="text" name="folder" id="folder" required="required">
            <button type="submit">Add Folder</button>
        </form>
    </body>
</html>